@charset "utf-8";

/* =========== área do carousel =========== */

#sliderContainer {
}

/* ========= slider 01 ========= */

.carousel-item .box-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carousel-item .box-carousel h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
}

.carousel-item .box-carousel h2 {
    width: 80%;
    margin: 0 auto;
    font-size: 14pt;
}

.carousel-item .box-carousel h2,p {
    color: #fff;
}

.carousel-item .box-carousel p {
    margin-top: 20px;
}

.carousel-item .box-carousel button {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.carousel-item .box-carousel .encomendar {
    background-color: #fac564;
    color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carousel-item .box-carousel .encomendar:hover {
    border: 1px solid #fac564;
    color: #fff;
    background-color: transparent;
}

.carousel-item .box-carousel .cardapio {
    border: 1px solid #fac564;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carousel-item .box-carousel .cardapio:hover {
    background-color: #fac564;
    color: #000;
}

.carousel-item img {
    height: 450px;
}  

/* ========= slider 02 ========= */

.carousel-propaganda-02 .slider-produto {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 14%;
    transform: translate(-10%, -50%);
}

.carousel-propaganda-02 .box-carousel .title-slide-03 {
    font-size: 2.5em;
}

/* ======= carousel img background ======= */

@media screen and (min-width: 768px) and (max-width: 992px){
    .carousel-item img {
        height: 500px;
    }    
}

@media screen and (max-width: 767px){
    .carousel-item img {
        height: 300px;
    }    
}

/* ======= carousel content ======= */

@media screen and (min-width: 768px) and (max-width: 1367px){
    /* propaganda 01 */
    .carousel-propaganda-01 .box-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .carousel-propaganda-01 .box-carousel p {
        margin-top: -60px;
        width: 80vw;
        font-size: 1.5em;
    }

    .carousel-propaganda-01 .box-carousel hgroup {
        margin-top: 40px;
        font-size: 1.6rem;
    }

    .carousel-propaganda-01 .box-carousel h2 {
        font-size: 1.6em;
        width: 80%;
    }

    .carousel-propaganda-01 .box-carousel h2 {
        font-size: 1.6em;
        width: 80%;
    }

    .carousel-propaganda-01 .box-carousel h3 {
        font-size: 2.6em;
    }

    /* propaganda 02 */
    .carousel-propaganda-02 .slider-produto {
        position: absolute;
        z-index: 100;
        top: 40%;
        left: 14%;
        transform: translate(-10%, -40%);
    }

    .carousel-propaganda-02 .slider-produto img {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) {
     .carousel-propaganda-02 .slider-produto {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 14%;
        transform: translate(-10%, -40%);
    }
}

@media screen and (max-width: 767px) {

     /* propaganda 01 */
    .carousel-propaganda-01 .box-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .carousel-propaganda-01 .box-carousel p {
        margin-top: -60px;
        width: 80vw;
    }

    .carousel-propaganda-01 .box-carousel hgroup {
        margin-top: -40px;
        font-size: 1rem;
    }

    .carousel-propaganda-01 .box-carousel h2 {
        font-size: 1.6em;
        width: 80%;
    }

    .carousel-propaganda-01 .box-carousel h2 {
        font-size: 1.6em;
        width: 80%;
    }

    .carousel-propaganda-01 .box-carousel h3 {
        font-size: 2.6em;
    }

    /* propaganda 02 */
    .carousel-propaganda-02 .slider-produto {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 17%;
        transform: translate(-10%, -50%);
    }
    .carousel-propaganda-02 .slider-produto img {
        width: 80vw;
    }

}
