@charset "utf-8";

/* =========== reset =========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

li {
    list-style: none;
}

.active {
    color: #fac564 !important;
}

.bg-active {
    background-color: #fac564 !important;
}

.navbar-toggler {
    outline: none !important;
}

/* =========== header =========== */

.header {
    background-color: #212529;
}

.header .logotipo img {
    width: 130px;
}

.header #navbar-main ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.header #navbar-main ul li a:hover {
    color: #fac564;
    transition: 0.5s;
}

.carousel-inner img {
    width: 100%;
}





