@charset "utf-8";

/* =========== reset =========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: url('../img/bg_4.jpg') 100% 100% no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

 
/* =========== classses globais  =========== */

.active {
    color: #fac564 !important;
    background-color: transparent !important;
    font-weight: bold;
}

.orange-default {
    color: #fac564;
}

.bg-ordange-default {
    background-color: #fac564;
}

.bg-active {
    background-color: #fac564 !important;
}


.navbar-toggler {
    outline: none !important;
}

.nav-link {
    border-radius: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    bordeR: 1px solid #fac564;
    margin-left: 5px;
    margin-right: 5px; 
}

.nav-link:hover {
    color: #fff;
}

/* =========== header =========== */

.header {
    background-color: #212529;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.header .logotipo img {
    width: 130px;
}

.header #navbar-main ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.header #navbar-main ul li a:hover {
    color: #fac564;
    transition: 0.5s;
}

.carousel-inner img {
    width: 100%;
}

@media screen and (max-width: 992px){

    .header {
        position: relative;
    }

    .header .logotipo  img{
        width: 100px;
    }

    .header #cardapio-menu {
        position: absolute;
        top: 25px;
        right: 15px;
    }

    .header #navbar-main ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .header #navbar-main ul li {
        margin: 20px 10px 0px 0px;
    }
}

/* =========== main content =========== */

/* ====== endereço ====== */

.endereco {
    background-color: transparent;
}

@media screen and (max-width: 766px){

    .endereco .row .redes-sociais {
        background-color: #fac564;
        width: 100%;
        padding: 10px 0 10px 20px;
    }

    .endereco .row .redes-sociai p, .fa-share {
        color: #fff;
        font-weight: bold;
        background-color: rgba(0,0,0,0.3);
        padding: 2px;
    }

    .redes-sociais-title {
        color: #000;
    }

}

/* ====== about resumo ====== */

.about-index {
    display: flex;
    position: relative;
    overflow-x: hidden;
    background: url('../img/about.jpg') 100% 100%;
    background-size: cover;
    height: 60vh;
}

.about-index .about-index-hall img {
    width: 100%;
}

.about-index .about-index-content {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    text-align: center;
}

.about-index .about-index-content h2 {
    color: #fff;
}

.about-index .about-index-content p {
    text-align: center;
    font-size: 1.2em;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

.about-index .bg-abount-index {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}


@media screen and (min-width: 800px) and (max-width: 1024px){

     .about-index {
        height: 400px;
        overflow-y: hidden;
        text-align: center;
    }

    .about-index .about-index-hall img {
      width: 100%;
    }

    .about-index .bg-abount-index {
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 99;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

    .about-index .about-index-content {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about-index .about-index-content p,h2 {
        color: #fff;
        width: 100%;
        font-size: 16pt;
    }

}

@media screen and (max-width: 799px) {

    .about-index {
        height: 400px;
        overflow-y: hidden;
        text-align: center;
    }

    .about-index .about-index-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 3;
    }

    .about-index .bg-abount-index {
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

    .about-index-content p, .about-index-content h2  {
        color: #fff;
        font-size: 14pt;
    }

    .about-index .about-index-content .abount-pizza-delicious {
        font-size: 13px;
        width: 85vw;
    }
}

/* ====== out services ====== */

.our-services-container {
    background: url('../img/food.png');
    background-size: contain;
}

.box-services-1 {
    border: 1px solid #000;
    background-color: transparent;
    margin: 0 auto;
}

/* ====== recipes main  ====== */

.recipes-main-container input[type=button]:hover {
    border: 1px solid #fff;
}

.recipes-main-box {
    width: 33.333%;
}

.recipes-main-detalhes {
    background-color: transparent;
    color: #fac564;
    border: 1px solid #fac564;
    padding: 5px;
}

/* background-images */
.recipes-main-img {
    background: url('../img/pizza-1.jpg');
    background-size: cover;
    background-position: center center;
}

.recipes-main-img-2 {
    background: url('../img/pizza-2.jpg');
    background-size: cover;
    background-position: center center;
}

.recipes-main-img-3 {
    background: url('../img/pizza-3.jpg');
    background-size: cover;
    background-position: center center;
}

.recipes-main-img-4 {
    background: url('../img/pizza-4.jpg');
    background-size: cover;
    background-position: center center;
    padding-right: 30px;
}

.recipes-main-img-5 {
    background: url('../img/pizza-5.jpg');
    background-size: cover;
    background-position: center center;
    padding-right: 30px;
}

.recipes-main-img-6 {
    background: url('../img/pizza-6.jpg');
    background-size: cover;
    background-position: center center;
    padding-right: 30px; padding-right: 30px;
}

/* text */
.text {
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    font-size: 14px;
}

.text .title-recipes {
    font-size: 18px;
}

@media screen and (max-width: 992px) {

    .recipes-main-container {
        flex-direction: column;
    }

    .recipes-main-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .recipes-main-img {
        background-size: cover;
        background-position: 100%;
    }

}

/* ====== our menu ====== */

.our-menu-content h4 {
    border-bottom: 1px dashed #fac564;
}

@media screen and (max-width: 767px){

    .mais-consumido-item {
        display: flex;
        flex-direction: column;
        width: 75vw;
        margin: 0 auto;
    }

    .mais-consumido-item img {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .mais-consumido-item .our-menu-content {
        display: flex;
        flex-direction: column;
    }

    .mais-consumido-item .our-menu-content p {
        text-align: center;
    }

    .mais-consumido-item .our-menu-content div {
        text-align: center;
    }


    .our-menu-mt-global {
        margin-top: 10px;
    }
}

/* ====== menu-pills navegação ====== */

.tipos-cardapio-container {
    background: url('../img/bg_2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.tipos-cardapio-container .tipos-cardapio-content {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
}

.bg-btn-active {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.bg-btn-active:hover {
    border: 1px solid #fac564;
    color: #fac564;
}

.img-round-cardapio {
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

@media screen and (max-width: 767px){

    .tipos-cardapio-content ul {
        display: flex;
    }

    .tipos-cardapio-content ul .nav-item {
        text-align: center;
    }

    .tipos-cardapio-content ul .nav-item + .nav-item {
        margin-bottom: 10px;
    }

    .tipos-cardapio-content ul .nav-item a {
        display: block;
        width: 100px;
     }

    .nav-link {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .tabpanel-content .preço-link {
        width: 180px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

}

/* ====== área de contato ====== */

.area-contato {
    overflow-x: hidden;
}

#mapContainer {
    width: 100%;
    height: 480px;
}

.bg-contato {
    width: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 6px;
}

.bg-contato:hover {
    border: 1px solid #fac564;
    color: #fac564;
}

@media screen and (max-width: 767px){
    .margin-top-area-contato {
        margin-top: 30px;
    }
}

/* ====== footer ====== */

.footer {
    background-color: #212529;
    overflow-x: hidden;
}

.serviços-footer {
    border-bottom: 1px dashed #fac564;
    margin-bottom: 10px;
}

.serviços-footer a {
    color: #fff;
}

.serviços-footer a:hover {
    color: #fac564;
    text-decoration: none;
}

@media screen and (max-width: 767px){
    .serviços-footer-contato {
       margin: 20px 0;
       padding: 30px 0;
       border-top: 1px solid #fac564;
       border-bottom: 1px solid #fac564;
    }
}