@charset "utf-8";

.header {
    background-color: #212529;
    position: fixed;
    width: 100%;
    z-index: 900;

    .logotipo {
        img {
            width: 130px;
        }
    }

    #navbar-main {
       
        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;

            &:hover {
                color: #fac564;
                transition: 0.5s;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        position: relative;

        .logotipo {
            img{
                width: 100px;
            }
        }

        #cardapio-menu {
            position: absolute;
            top: 25px;
            right: 15px;
        }

        #navbar-main {
            li {
                margin: 20px 10px 0px 0px;
            }
            ul {
                flex-direction: column;
                align-items: center;
            }         
        }
    }
}